/* ********* */
/* @MIXINS */
/* ********* */

@mixin tamaño($altura, $anchura, $direccion, $jc){
    height: $altura;
    width: $anchura;
    flex-direction: $direccion;
    justify-content: $jc;
}

@mixin medidas($altura,$anchura){
    height: $altura;
    width: $anchura;
}

